.time_counter_modal .ant-modal-content {
  background: transparent !important;
  box-shadow: none !important;
}
.color_picker .ant-float-btn-icon {
  width: 100% !important;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-float-btn-default
  .ant-float-btn-body:hover {
  background-color: white;
  opacity: 0.9;
}
